if SHIELD_HOPE56_LEFT

# Name must be less than 16 characters long!
config ZMK_HOPE56
bool
    default "hope56"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HOPE56_LEFT || SHIELD_HOPE56_RIGHT

config ZMK_SPLIT
    default y

endif
